body {
	background-color: rgba(0,95,0,1);
	overflow-y:hidden;
}
#files {
	background-color: white;
	list-style-type: none;
	width:100%;
	color:black;
	text-align: left;
	padding:10px;
	margin-top: 10px;
	left:0px;
	right:0px;
	overflow-y:scroll;
}
#files li {
	padding: 10px;
}
#page1 {
	overflow: hidden;
}
#files li:hover {
	border: 1px solid;
	border-color: rgba(0,95,0,1);
	background-color: rgba(0,95,0, 0.2);
	cursor: pointer;
}
#menubar {
	position:fixed;
	bottom:0px;
	width:100%;
	left:0px;
	right:0px;
	background-color: rgba(0,0,0,0.4);
	color:white;
}
.player {
	width:100%;
	/*background-color: rgba(0,0,0,0.4);*/
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeef1), to(#c7cfd8));
	background: -moz-linear-gradient(top, #eaeef1, #c7cfd8);
	background: linear-gradient(top, #eaeef1, #c7cfd8);
	color:black;
	height:80px;
	max-height:80px;
	border-top-right-radius:20px; 
	border-top-left-radius:20px;
}

.active {
	border: 2px dashed;
	border-color: rgba(0,95,0,1);
	background-color: rgba(0,95,0,0.2);
}